@model IEnumerable<servicesharing.Data.Entities.Reservation>

<h2>Вашите резервации</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имейл на клиент</th>
            <th>Услуга</th>
            <th>Дата и час</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.User.UserName</td>
                <td>@reservation.ServiceName</td>
                <td>@reservation.ReservationDate</td>
                <td>@reservation.Status</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@reservation.Id" class="btn btn-danger">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>